@model IEnumerable<User>;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<style>
    body {
        background-color: @ViewData["BackgroundColor"]
    }
    h1 {
        color: @ViewData["FontColor"];
        font-size: @ViewData["FontSize"]px;
    }
    label{
        color: @ViewData["FontColor"];
    }
</style>

<h1>@ViewData["Message"]</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>E-mail</th>
            <th>Gender</th>
            <th>IP Address</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.Gender</td>
                <td>@item.IpAddress</td>
                <td>@item.Country</td>
            </tr>
        }
    </tbody>
</table>